
body{
    overflow-x: hidden;
}
.slideshow{
    width: 100%;
    height: 505px;
    position: relative;
    .slide_top{
        
    }
    .slide_ul{
        
        width: 1950px;
        height: 505px;
        position: absolute;
        left: 50%;
        margin-left: -950px;     
        background: #f00;
    }
    .slide_li{
        position: absolute;
        top: 0;
        left: 0;
        height: 505px;
        width: 1950px;
        display: block;
        background: orange;
        
    }
    .slide_img{
        width: 100%;
        height: 100%;
    }
    .slide_bottom{
        background: rgba(0, 0, 0, 0.3);
        height: 40px;
        width: 100%;
        position: absolute;
        bottom: 0;
        
    }
    .slide_left{
        float: left;
        
        a{
            color: #fff;
            font-size: 13px;
            padding-right: 30px;

        }
    }
    .icon-zi,.icon-pc-quanqiuzhicai-,.icon-jiayipeishi,.icon-shouhouwuyou{
        color: #fff;
        font-size: 24px;
        line-height: 40px;
        vertical-align: middle;
        padding-right: 8px;
    }
    .slideb_wrap{
        width: 1120px;
        margin: 0 auto;
        position: absolute;
        z-index: 10;
        bottom: 0;
        left: 50%;
        margin-left:-560px;
        line-height: 40px;
        font-size: 14px;
    }
    .slide_right{
        float: right;
    }
    .slideri{
        float: left;
        display: block;
        width: 20px;
        height: 20px;
        background: url(../images/photo.png) no-repeat;
        margin: 10px 5px;
    }
    .slidera{
        font-size: 14px;
        color: #fff;
    }
}
.leftBut{
    position: absolute;
    left: 300px;
    display: block;
    width: 37px;
    height: 75px;
    z-index: 3;
    background:rgba(0, 0, 0, 0.5);
    top: 200px;
    .icon-youjiantou1{
        font-size: 40px;
        text-align: center;
        line-height: 75px;
        color: #fff;
    }
}
.rightBut{
    z-index: 3;
    position: absolute;
    right: 100px;
    top: 200px;
    display: block;
    width: 37px;
    height: 75px;
    background:rgba(0, 0, 0, 0.5);
    .icon-mjiantou{
        font-size: 40px;
        text-align: center;
        line-height: 75px;
        color: #fff;
    }
}
.slide_bot{
    position: absolute;
    bottom: 80px;
    left: 330px;
    
    li{
        float: left;
        margin: 0 8px;
        width: 10px;
        height: 10px;
        border-radius: 10px;
        background: #fff;
    }
}
.red{
    background: #f00 !important;
    
}
.opa{
    opacity: 0;
}
.noopa{
    opacity: 100;
}
