@charset "utf-8";
@import 'header';
@import 'footer';
@import 'index_main';
@import 'slideshow';

$back1:#0ff;
$back2:#09f;
body{
    background: #efefef;
}

.dodaytime,.dodaynew,.hotbrand,.mombaby,.beautify,.shoesbag,.household,.nutrition,.elec,.exercise,.guesslike{
    margin: 0 auto;
    width: 1101px;
    padding-top: 25px;
    border-top: 1px solid #e9e9e9;
}
/* .hotbuy_one,.hotbuy_twe,.hotbuy_three,.hotbuy_four,.hotbuy_five,.hotbuy_six,.hotbuy_seven{
    margin: 20px auto  40px;
    border: 1px solid #eaeaea;
    line-height: 167px;
    background: #fff;
    height: 218px;
    width: 1100px;
} */
.fourphoto{
    margin: 20px auto 40px;
    width: 1120px;
    .fourli{
        float: left;
        margin:0 10px;
    }
}
.dodaytime{
    height: 455px;
   
    
    .doday_ul{
        position: relative;
        border: 1px solid #eaeaea;
        
    }
    .doday_inli{
        border-bottom:1px solid #eaeaea;
        border-right:1px solid #eaeaea;
        float: left;
        width: 418px;
        height: 189px;
       
    }
    .doday_inli4{
        border-bottom: 0px solid #eaeaea;
    }
    .dole_a{
        float: left;
    }
    .doday_inliright{
        padding: 10px;
        float: left;
        width: 200px;
       
    }
    .dori_title{
        font-size: 16px;
        a{
            text-align: center;
            color: #000;
        }
    }
    .dori_content{
        overflow: hidden;
        a{
            font-size: 12px;
            color: #999;
            font-weight: normal;
        }
        
    }
    .dori_price{
        padding-bottom: 20px;
        a,b{
            font-size: 20px;
            color: #ff1e32;
        }
        span{
            padding-left: 5px;
        }
        span,del{  
            font-size: 13px;
            color: #999;
        }
    }
    .dori_process{
        width: 90px;
        height: 4px;
        background: #e9e9e9;
        b{
            position: absolute;
            left: 0;
            display: inline-block;
            height: 4px;
            background: #ff1e32;
        }

    }
    .dori_button{
        color: #ff1e32;
        font-size: 14px;
        position: absolute;
        right: 0;
        top: 0;
        display: block;
        line-height: 38px;
        text-align: center;
        width: 82px;
        height: 38px;
        border: 1px solid #ff1e32;
        border-radius: 38px;
    }
    .processText{
        padding-top: 5px;
        font-size: 13px;
        color: #ccc;
    
    }
    .dori_boin{
        padding-top: 20px;
        position: relative;
        width: 100%;

    }
    .doday_img{
        position: absolute;
        right: 0;
        top: 0;
        img{
            float: left;
        }
    }
}
    .dodayh4{
        padding-bottom: 20px;
        width: 100%;
    }
    .dodayte{
        font-size: 20px;
        padding: 0 10px;
    }
    .doday_late{
        font-weight: normal;
        font-size: 14px;
        color: #ccc;
        padding: 5px;
    }
    .dodayh{
        width: 20px;
        height: 20px;
        display: inline-block;
        text-align: center;
        line-height: 20px;
        font-style: inherit;
        font-weight: normal;
        color: #fff;
        background: #f00;
        border-radius: 20px;
    }
    .doday_time{
        display: block;
        float: right;
        padding: 0 20px;
        font-size: 14px;
        font-weight: normal;
        color: #ccc;
    }
    .rel{
        position: relative;
    }
    .icon-weibiaoti--{
        display: inline-block;
        text-align: center;
        width:20px;
        height: 16px;
    }
.dodaynew{
    height: 842px;  
    .newtoday{
        width: 1120px;
        margin: 0 -10px;
        height: 768px;
    }
    .newto_li{
        margin: 0 10px;
        float: left;
        height: 384px;
        width: 260px;
    }
    .newto_bigph{
        display: block;
        width: 180px;
        height: 180px;
        padding: 39px;
        background: #fff;
        border: 1px solid #e9e9e9;
        img{
            display: inline-block;
            vertical-align: middle;
            
        }
    }
    .newto_back{
        position: absolute;
        top: 0;
        left: 0;
        width: 260px;
        height: 260px;
        background:rgba(0,0,0,0.2);
    }
    .newto_backp{
        font-size: 16px;
        color: #fff;
        text-align: left;
        
        text-shadow: 0 0 6px rgba(0,0,0,0.3);
    }
    .newto_backspan{
        text-align: left;
        
        text-shadow: 0 0 6px rgba(0,0,0,0.3);
        font-size: 20px;
        font-weight: bold;
        color: #fff;
        i{
            font-style: normal;
        }
    }
    .newto_bot{
        text-indent: 13px;
        padding-top: 192px;
    }
    .newto_bottom{
        border: 1px solid #e9e9e9;
        background: #fff;
        padding: 8px;
        a{
            display: block;
            width: 64px;
            height: 64px;
            float: left;
            padding-right: 10px;
           
        }
        img{
            width: 100%;
            height: 100%;
        }
    
    }
    .newto_onep{
        display: block;
        font-size: 16px;   
    }
    .newto_tit{
        color: #000;
        font-size: 16px;
        margin: 7px 0 7px 0;
    }
    .newto_price{
        color: #ff1e32;
        font-size: 20px;
    }
    .newto_pricet{
        color: #999;
        font-size: 14px;
    }
    .newto_lastph{
        color: rgb(10, 10, 10);
        font-size: 26px;
        display: block;
        width: 260px;
        height: 260px;
        background: url(http://haitao.nos.netease.com/1cf4rc18p21_260_260.jpg?imageView&thumbnail=260x260&quality=90) no-repeat
    }
    .lastph_text{
        color: #333;
        font-size: 16px;
        font-weight: bold;
    }


}
.hotbrand{
    height: 429px;
    .hotbrand_li{
        float: left;
        width: 219px;
        margin-bottom:-1px;
        padding-bottom: 2px;
        border-top: 1px solid #e9e9e9;
        border-right: 1px solid #e9e9e9;
        border-bottom: 1px solid #e9e9e9;
    }
    .hotleft{
        display: block;
        width: 100%;
        height: 219px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .hotleft_bottom{
        height: 136px;
        background-color: #151515;
    }
    .hotleft_text{
        padding-top: 41px;
        padding-bottom: 4px;
        font-size: 20px;
    }
    .hotleft_center{
        font-size: 14px;
    }
    .hotleft_center,.hotleft_text{
        color: #fff;
        text-align: center;
        font-weight: bold;
    }
    .info{
        height: 176px;
        img{
            margin:0 auto; 
            padding-top: 13px;
        }
        
    }
    .info_desc{
        margin-top: 10px;
        font-size: 14px;
        font-style: bold;
        text-align: center;
    }
    .actions{

    }
}
.mombaby{
    height: 853px;
    // background: #fff;
}
.hotbuy_one{
   
    
}
.beautify{
    height: 853px;
   
 
}
.hotbuy_twe{
    

}
.shoesbag{
    height: 853px;
  

}
.hotbuy_three{
   
}
.household{
    height: 853px;
    

}
.hotbuy_four{


}
.nutrition{
    height: 853px;
   
   
}
.hotbuy_five{
    
    
}
.elec{
    height: 853px;
   

}
.hotbuy_six{
   
}
.exercise{
    height: 853px;
  
   
}
.hotbuy_seven{
    

}
.guesslike{
    padding-bottom: 80px;
   
}
.newRecomItemWrap {
    margin: 0 10px;
    width: 260px;
    margin: 0;
    border: 0;
    float: left;
    margin-left: 10px;
    margin-bottom: 15px;
    border: 1px solid #eaeaea;
.m-reclst {
    border: 0;
    background: transparent;
}
.newRecomWrap>div {
    width: 1120px;
    margin: 0 -10px;
}
.newRecomWrap>div {
    margin-left: 0;
}
.newRecomWrap>div {
    margin-left: -15px;
}
.m-reclst {
    border: 1px solid #eaeaea;
    background: #fff;
}
.itemImg {
    width: 180px;
    height: 180px;
    border: 1px solid #e9e9e9;
    background-color: #fff;
    padding: 39px;
    display: block;
    img{
        width: 180px;
        height: 180px;
    }
}
.wrap {
    white-space: normal;
    word-wrap: break-word;
}

.itemTitle{
    white-space: normal;
    word-wrap: break-word;
    height: 44px;
    margin: 7px 0 14px 0;
    padding: 0 30px 0 0;
    box-sizing: border-box;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    a {
    line-height: 24px;
    font-size: 16px;
    font-weight: 700;
    color: #000;
    }
}
.itemInfo {
    padding: 0 15px 0 0;
    .price {
        vertical-align: middle;    
        color: #ff1e32;
        float: left;
        font-size: 20px;
    }
    .marprice {
        padding-left: 5px;
        color: #999;
        font-size: 12px;
        font-weight: normal;
    }
    .comment {
        float: right;
        display: block;
        height: 24px;
        line-height: 36px;
        color: #999;
        font-size: 12px;
    }
}


}
.guesslike_wrap{
    

}
.active{
    background: #000 !important;
}

    .w-activlist .itm3, .w-activlist .itm4 {
        border-bottom: 0;
    }
    .cont {
        background: #fff;
        a{
            color: #000;

        }


    }
    .partl{
        position: relative;
        float: left;
        width: 330px;
        height: 541px;
        .w-secondlist {
            position: absolute;
            left: 24px;
            bottom: 24px;
        }
        li {
            float: left;
            margin: 0 18px 8px 0;
            a {
                display: block;
                height: 18px;
                padding: 11px 0;
                overflow: hidden;
                font-size: 12px;
                color: #333;
                border-radius: 40px;
                background: #fff;
                border: 1px solid #eee;
                width: 80px;
                box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
            }
        }
        .txt {
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            width: 82px;
            overflow: hidden;
        }
    }
    .partm{

        float: left;
        width: 550px;
        height: 541px;
        a{
            
            display: block;
            width: 274px;
            // padding: 0 0 20px;
            
        }
        img{
            float: left;
            margin: 0 49px;
            // display: inline-block;
        }
        li{
            text-align: center;
            border: 1px solid #e9e9e9;
            border-width: 0 1px 1px 0;
            display: block;
            padding: 30px 0 30px;
            
            float: left;

            
        }
        .desc {
            font-size: 14px;
            line-height: 20px;
            margin: 10px 10px 14px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .tit {
            font-size: 24px;
            font-weight: normal;
            line-height: 1;
           
            margin: 0 10px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        
    }
    .party{
        .tit {
            line-height: 18px;
            height: 36px;
            overflow: hidden;
            
        }
        .item2 {
            color: #999;
            margin: 0 0 0 12px;
            font-size: 14px;
        }
        .curprice {
            margin: 6px 0 0;
            font-size: 18px;
            color: #ff1e32;
        }
        strong {
            font-size: 20px;
            font-weight: bold;
          
        }
        a{
            color: #666;
            font-weight: normal;

        }
        float: left;
        width: 220px;
        height: 541px;

        .title {
            font-size: 16px;
            line-height: 58px;
            padding: 0 0 0 10px;
            color: #333;
            font-weight: bold;
            height: 58px;
            border: 1px solid #e9e9e9;
            border-width: 1px 1px 1px 0;
            position: relative;
        }
        .img_pagebox {
            position: absolute;
            top: 0;
            right: 9px;
        }
        .idxicon {
            display: inline-block;
            margin: 0 2px;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            overflow: hidden;
            vertical-align: middle;
            line-height: 0px;
            font-size: 0px;
            text-decoration: none;
            cursor: pointer;
            background: #e1e1e1;
        }
        .itemgroup{
            position: absolute;
        }
        .itemsale {
            width: 207px;
            border-bottom: 1px dotted #e9e9e9;
            padding: 28px 14px 0 0;
            height: 92px;
        }
        .pic {
            position: relative;
            zoom: 1;
            float: left;
            margin: 0 7px 0 4px;
        }

    }

    .w-logolist {
        margin: 20px 0 40px;
        border: 1px solid #eaeaea;
        line-height: 167px;
        background: #fff;
        .txt {
            font-size: 16px;
            color: #000;
            font-weight: bold;
            text-indent: 20px;
            line-height: 48px;
            height: 48px;
            border-bottom: 1px solid #eaeaea;
        }
        .pic:first-child {
            border-left: 0;
        }
        .pic {
            background: #fff;

            display: inline-block;
            position: relative;
            float: left;
            width: 219px;
            height: 167px;
            zoom: 1;
            border-left: 1px solid #e9e9e9;
            text-align: center;
        }
        img{
            vertical-align: middle;
            display: inline-block;
        }
    }
    .floor {

        li a {
            display: block;
            height: 32px;
            line-height: 32px;
            padding-left: 9px;
            font-size: 12px;
            color: #999;
            text-decoration: none;
        }
        li a:hover {
            color: #ff1e32;
            background-color: #f7f7f7;
        }
    }

    .m-indexleft {
        width: 99px;
        background-color: #fff;
    }
    .channel {
        border: 1px solid #eaeaea;
        border-bottom: none;
        
        li a {
            display: block;
            height: 50px;
            line-height: 50px;
            padding-left: 9px;
            font-size: 14px;
            font-weight: bold;
            color: #333;
            text-decoration: none;
            border-bottom: 1px solid #eaeaea;
        }
        li a:hover {
            color: #ff1e32;
            background-color: #f7f7f7;
        }
    }
    
.topTabBoxFixed {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    z-index: 1001;
    background: #fff;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 0px 10px rgba(0,0,0,0.2);
}
    
