@charset "utf-8";
@import 'header';
@import 'footer';

.find,.buycar,.nav_bottom{
    visibility: hidden;
}

.topimg {
    height: 100px;
    width: 504px;
    background-image:url(https://haitao.nos.netease.com/c5bc5b4005c9413888f7d1127a734609.jpg?imageView&thumbnail=504x0&quality=85&v=1);
}



body{
    background: #ddd;
}

.login{
    height: 520px;
    width: 1000px;
    margin: 0 auto;
    .login_left{
        width: 500px;
        height: 260px;
        position: relative;
        float: left;
        
    }
    .defaultimg{
        position: absolute;
        left: 10px;
        top: 154px;
    }
    .login_right{
        
        position: relative;
        float: left;
        padding-top: 70px;
        
    }

    .top{
        position: absolute;
        left: 0;
        width: 350px;
        height: 52px;
        border-bottom: 1px solid #ddd;
        background-color: #f8f8f8;
        font-size: 16px;
        line-height: 52px;
        color: #333;
        
    }
    // .line{
    //     position: absolute;
    //     top: 17px;
    //     left: 175px;
    //     width: 0px;
    //     height: 20px;
    //     border-right: solid 1px #ddd;
    // }
    .red{
        color: #e31436;
    }
    .login_name{
        float: left;  
        width: 175px;
        text-align: center;
        cursor: pointer;
        font-weight: bold;
    }
    .login_lwra{
        
        width: 270px;
        position: absolute;
        top: 52px;
        padding: 10px 40px 0px;
        background-color: #fff;
    }
    .inputbox {
        margin-top: 20px;
        border-color: #d5d5d5;
        border-radius: 2px;
        z-index: 19;
        position: relative;
        height: 44px;
        margin-bottom: 0px;
        border: 1px solid #c5cddb;
        background: #fff;
        font-size: 12px;
        line-height: 44px;
        input {
            border-radius: 2px;
            position: absolute;
            top: 0;
            left: 0;
            border: 0;
            padding-left: 30px;
            height: 44px;
            line-height: 44px;
            font-size: 14px;
            font-weight: normal;
            width: 238px;

           
        }
    }
    .error{
        position: absolute;
        left: 150px;
        z-index: 20;
        color: #e31436;
        top: 0px;
    }
    
    .u-logo-img3 {
        position: absolute;
        background: url(https://mm.bst.126.net/images/login/ursicon.png) no-repeat;
        background-position: -36px -34px;
        width: 17px;
        height: 18px;
        margin: 13px 10px;
        z-index: 22;
    }
    .submitbox{
        position: relative;
        margin-top: 20px;
        width: 270px;
        text-align: center;
        input {
            background: #e31436;
            border-radius: 2px;
            position: absolute;
            top: 0;
            left: 0;
            border: 0;
            height: 44px;
            line-height: 44px;
            font-size: 14px;
            font-weight: normal;
            width: 270px;
            color: #fff;
        }
    }
    .chebox{
        margin-top: 57px;
        display: block;
        position: relative;
        label{
            font-size: 13px;
        }
    }
    .qita{
        position: relative;
        border: 1px solid #aaa;
        height: 50px;
        background:#ddd;
        margin: 0 -40px;
        .thirdlogin{
           margin-left: 10px;
        }
        .iconmask{
            margin:15px 5px;
            float: left;
            display: block;
            width: 22px;
            height: 22px;
            background: url(https://mm.bst.126.net/images/index/icon1.png?832edc2b581ff4b584df7635efbb5a54) no-repeat;
        }
        .w-icon1{
            background-position: -760px -401px;
        }
        .w-icon2{
            background-position: -792px -401px;
        }
        .w-icon3{
            background-position: -824px -401px;
        }
        .w-icon4{
            background-position: -856px -401px;
        }
        .gotoreg{
            display: block;
            float: right;
            width: 105px;
            color: #e31436;
            line-height: 22px;
            cursor: pointer;
            margin: 15px 0;
            font-size: 13px;
        }
        .w-icon5{
            background: url(https://mm.bst.126.net/images/index/icon1.png?832edc2b581ff4b584df7635efbb5a54) no-repeat;
            height: 22px;
            background-position: -899px -402px;
            width: 24px;
            display: inline-block;
            color: #e31436;
            line-height: 22px;
            cursor: pointer;

        }
    
    }
}
.hide{
    visibility: hidden;
}
/* .valid{
    z-index: 30;
    position: absolute;
    background: #f00;
} */