#header { height: 172px; background: #fff; }
#header .nav_bottom, #header .nav_top { border-bottom: 1px solid #ccc; width: 100%; }
#header .nav_top { background: #000; }
#header .nav_top .navt_wrap { height: 30px; margin: 0 auto; width: 1090px; line-height: 30px; }
#header .nav_top .nav_left1, #header .nav_top .nav_left2 { display: inline; color: #999; }
#header .nav_top a { margin-left: 20px; color: #999; }
#header .nav_top a:hover { color: #fff; }
#header .nav_top ul { float: right; }
#header .nav_top li { float: left; position: relative; margin-right: 12px; padding-right: 8px; }
#header .nav_top .arr { height: 0; width: 0; border: 4px solid transparent; border-top-color: #999; position: absolute; left: 100%; top: 15px; }
#header .nav_loge_wrap { height: 100px; width: 1090px; margin: 0 auto; }
#header .nav_loge_wrap .loge { display: block; width: 209px; padding-top: 22px; margin-right: 135px; float: left; }
#header .nav_loge_wrap img { width: 100%; }
#header .nav_loge_wrap .find { margin-top: 30px; line-height: 40px; float: left; display: block; width: 511px; height: 40px; border: 2px solid #ff2337; border-radius: 24px 24px; position: relative; margin-right: 50px; }
#header .nav_loge_wrap input { height: 40px; width: 408px; margin-left: 9px; float: left; border: 0; }
#header .nav_loge_wrap .find_back1 { background: url(../images/icon1.png) no-repeat -466px -667px; width: 14px; height: 14px; display: block; float: left; margin-left: 10px; margin-top: 13px; }
#header .nav_loge_wrap .find_back2 { width: 60px; height: 40px; background: #ff2337; border-radius: 40px; position: absolute; background-image: url(../images/icon1.png); background-position: -485px -655px; top: 0; right: 0; }
#header .nav_loge_wrap .buycar { display: block; height: 40px; width: 110px; border: 2px solid #ff2337; border-radius: 40px; float: left; margin-top: 30px; line-height: 40px; position: relative; }
#header .nav_loge_wrap i { display: block; float: left; width: 20px; height: 20px; position: absolute; left: 10px; top: 10px; background: url(../images/car.png) no-repeat; }
#header .nav_loge_wrap .car { display: block; float: left; display: block; width: 71px; height: 36px; font-size: 15px; position: absolute; left: 37px; color: #000; }
#header .nav_loge_wrap h { display: inline-block; border-radius: 20px; height: 20px; width: 20px; background: #ff2337; position: absolute; left: 47px; color: #fff; top: 10px; text-align: center; line-height: 20px; font-size: 12px; }
#header .nav_bottom * { font-size: 14px; }
#header .nav_bottom .navb_wrap { margin: 0 auto; width: 1090px; height: 40px; position: relative; }
#header .nav_bottom .buttonbox { height: 40px; width: 164px; background: #ff2337; line-height: 40px; float: left; }
#header .nav_bottom .dropbox { position: absolute; width: 164px; top: 40px; background: #ff2337; z-index: 10; }
#header .nav_bottom .buttoni { float: left; margin: 14px; padding-right: 12px; }
#header .nav_bottom .buttoni i { width: 15px; height: 0; border-top: 2px solid #ddd; display: block; margin-bottom: 3px; }
#header .nav_bottom .bu_span { font-size: 14px; color: #fff; float: left; }
#header .nav_bottom .dropli { color: #fff; padding: 12px; float: left; height: 22px; width: 140px; border-top: 0.5px solid #ff5160; border-left: 1px solid #ff5160; }
#header .nav_bottom .dropli span { position: absolute; left: 56px; }
#header .nav_bottom .dropimg { position: absolute; }
#header .nav_bottom .icon-youjiantou { float: right; line-height: 22px; font-size: 12px; }
#header .nav_bottom .navb_right { float: left; line-height: 40px; }
#header .nav_bottom .navr_li { float: left; font-weight: bold; }
#header .nav_bottom .navr_li span { color: #fff; }
#header .nav_bottom .navr_a { color: #333; display: block; padding: 0 23px; height: 40px; font-size: 15px; }
#header .nav_bottom .muying { position: absolute; width: 931px; height: 462px; background: #fff; left: 164px; top: 0px; border: 1px solid #ff2337; z-index: 11; }
#header .muying_left { width: 690px; float: left; }
#header .muying_leili { float: left; z-index: 12; }
#header .muying_leili .muying_tit { color: #000; font-weight: bold; margin: 10px 0 5px 20px; display: block; }
#header .muying_leili .muying_con { color: #999; font-size: 14px; height: 34px; line-height: 35px; padding: 0 3px; white-space: nowrap; }
#header .muying_leili .muying_more { border-top: 1px solid #ccc; width: 283px; height: 170px; padding: 10px 30px 10px 10px; }
#header .muying_right { width: 236px; float: left; background: #ebe9e9; }
#header .brandlist { padding: 5px; }
#header .brandlist a { margin: 1px; display: inline-block; }
#header .brandlist img { border: 1px solid #ccc; width: 106px; height: 106px; }
#header .brandlist .muying_last img { width: 236px; }

.write { background: #fff; }
.write span { color: #ff5160; }
.write .icon-youjiantou { color: #ff5160; }

.hide { display: none; }

#footer { background: #fff; border: 1px solid #ccc; }

.footer_top, .footer_center { width: 1100px; margin: 0 auto; }

.footer_top .ft_li { padding: 50px 0; float: left; width: 25%; }
.footer_top .ftli_span { margin: 2px 9px 0 50px; display: inline-block; padding: 0; text-align: center; line-height: 48px; width: 48px; height: 48px; border: 2px solid #ccc; border-radius: 48px; font-size: 20px; font-weight: bold; float: left; }
.footer_top .ftli_wrap { float: left; }
.footer_top .ftli_str { font-size: 22px; }
.footer_top .ftli_p { font-size: 14px; }

.footer_center .footc_ul { padding: 45px 0 90px; }
.footer_center .footc_lione, .footer_center .footc_litwe { float: left; }
.footer_center .footc_lione { padding-left: 20px; visibility: middle; }
.footer_center .footc_text { float: left; padding: 15px 10px; }
.footer_center .footc_img { margin: 0 60px 17px 12px; }
.footer_center .footc_e { margin: 6px; width: 32px; height: 32px; display: block; float: left; }
.footer_center .footc_weibo { background: url(../images/weibo.png); }
.footer_center .footc_weixin { background: url(../images/weixin.png); }
.footer_center .footc_unkown { background: url(../images/unkown.png); }
.footer_center .footc_litwe { width: 120px; }
.footer_center .footc_litwe h3 { font-size: 18px; font-weight: normal; padding-bottom: 4px; }
.footer_center .footc_litwe a { display: block; padding: 5px; color: #000; }
.footer_center .footc_thimg { padding: 3px; }
.footer_center .footc_lithree { text-align: center; width: 108px; float: left; display: block; padding-left: 30px; }
.footer_center .footc_span { display: block; margin-top: 5px; }

.footer_bottom { color: #c2c2c2; width: 100%; height: 153px; background: black; margin: 0 auto; text-align: center; padding-top: 16px; }
.footer_bottom .footb_a { line-height: 35px; font-size: 12px; color: #c2c2c2; }
.footer_bottom .footb_img { display: inline-block; padding: 0 4px; height: 30px; }
.footer_bottom .footb_img1 { display: inline-block; height: 14px; }

body { overflow-x: hidden; }

.slideshow { width: 100%; height: 505px; position: relative; }
.slideshow .slide_ul { width: 1950px; height: 505px; position: absolute; left: 50%; margin-left: -950px; background: #f00; }
.slideshow .slide_li { position: absolute; top: 0; left: 0; height: 505px; width: 1950px; display: block; background: orange; }
.slideshow .slide_img { width: 100%; height: 100%; }
.slideshow .slide_bottom { background: rgba(0, 0, 0, 0.3); height: 40px; width: 100%; position: absolute; bottom: 0; }
.slideshow .slide_left { float: left; }
.slideshow .slide_left a { color: #fff; font-size: 13px; padding-right: 30px; }
.slideshow .icon-zi, .slideshow .icon-pc-quanqiuzhicai-, .slideshow .icon-jiayipeishi, .slideshow .icon-shouhouwuyou { color: #fff; font-size: 24px; line-height: 40px; vertical-align: middle; padding-right: 8px; }
.slideshow .slideb_wrap { width: 1120px; margin: 0 auto; position: absolute; z-index: 10; bottom: 0; left: 50%; margin-left: -560px; line-height: 40px; font-size: 14px; }
.slideshow .slide_right { float: right; }
.slideshow .slideri { float: left; display: block; width: 20px; height: 20px; background: url(../images/photo.png) no-repeat; margin: 10px 5px; }
.slideshow .slidera { font-size: 14px; color: #fff; }

.leftBut { position: absolute; left: 300px; display: block; width: 37px; height: 75px; z-index: 3; background: rgba(0, 0, 0, 0.5); top: 200px; }
.leftBut .icon-youjiantou1 { font-size: 40px; text-align: center; line-height: 75px; color: #fff; }

.rightBut { z-index: 3; position: absolute; right: 100px; top: 200px; display: block; width: 37px; height: 75px; background: rgba(0, 0, 0, 0.5); }
.rightBut .icon-mjiantou { font-size: 40px; text-align: center; line-height: 75px; color: #fff; }

.slide_bot { position: absolute; bottom: 80px; left: 330px; }
.slide_bot li { float: left; margin: 0 8px; width: 10px; height: 10px; border-radius: 10px; background: #fff; }

.red { background: #f00 !important; }

.opa { opacity: 0; }

.noopa { opacity: 100; }

body { background: #efefef; }

.dodaytime, .dodaynew, .hotbrand, .mombaby, .beautify, .shoesbag, .household, .nutrition, .elec, .exercise, .guesslike { margin: 0 auto; width: 1100px; padding-top: 25px; border-top: 1px solid #e9e9e9; }

/* .hotbuy_one,.hotbuy_twe,.hotbuy_three,.hotbuy_four,.hotbuy_five,.hotbuy_six,.hotbuy_seven{ margin: 20px auto  40px; border: 1px solid #eaeaea; line-height: 167px; background: #fff; height: 218px; width: 1100px;
} */
.fourphoto { margin: 20px auto 40px; width: 1120px; }
.fourphoto .fourli { float: left; margin: 0 10px; }

.dodaytime { height: 455px; }
.dodaytime .doday_ul { position: relative; border: 1px solid #eaeaea; }
.dodaytime .doday_inli { border-bottom: 1px solid #eaeaea; border-right: 1px solid #eaeaea; float: left; width: 418px; height: 189px; }
.dodaytime .doday_inli4 { border-bottom: 0px solid #eaeaea; }
.dodaytime .dole_a { float: left; }
.dodaytime .doday_inliright { padding: 10px; float: left; width: 200px; }
.dodaytime .dori_title { font-size: 16px; }
.dodaytime .dori_title a { text-align: center; color: #000; }
.dodaytime .dori_content { overflow: hidden; }
.dodaytime .dori_content a { font-size: 12px; color: #999; font-weight: normal; }
.dodaytime .dori_price { padding-bottom: 20px; }
.dodaytime .dori_price a, .dodaytime .dori_price b { font-size: 20px; color: #ff1e32; }
.dodaytime .dori_price span { padding-left: 5px; }
.dodaytime .dori_price span, .dodaytime .dori_price del { font-size: 13px; color: #999; }
.dodaytime .dori_process { width: 90px; height: 4px; background: #e9e9e9; }
.dodaytime .dori_process b { position: absolute; left: 0; display: inline-block; height: 4px; background: #ff1e32; }
.dodaytime .dori_button { color: #ff1e32; font-size: 14px; position: absolute; right: 0; top: 0; display: block; line-height: 38px; text-align: center; width: 82px; height: 38px; border: 1px solid #ff1e32; border-radius: 38px; }
.dodaytime .processText { padding-top: 5px; font-size: 13px; color: #ccc; }
.dodaytime .dori_boin { padding-top: 20px; position: relative; width: 100%; }
.dodaytime .doday_img { position: absolute; right: 0; top: 0; }
.dodaytime .doday_img img { float: left; }

.dodayh4 { padding-bottom: 20px; width: 100%; }

.dodayte { font-size: 20px; padding: 0 10px; }

.doday_late { font-weight: normal; font-size: 14px; color: #ccc; padding: 5px; }

.dodayh { width: 20px; height: 20px; display: inline-block; text-align: center; line-height: 20px; font-style: inherit; font-weight: normal; color: #fff; background: #f00; border-radius: 20px; }

.doday_time { display: block; float: right; padding: 0 20px; font-size: 14px; font-weight: normal; color: #ccc; }

.rel { position: relative; }

.icon-weibiaoti-- { display: inline-block; text-align: center; width: 20px; height: 16px; }

.dodaynew { height: 842px; }
.dodaynew .newtoday { width: 1120px; margin: 0 -10px; height: 768px; }
.dodaynew .newto_li { margin: 0 10px; float: left; height: 384px; width: 260px; }
.dodaynew .newto_bigph { display: block; width: 180px; height: 180px; padding: 39px; background: #fff; border: 1px solid #e9e9e9; }
.dodaynew .newto_bigph img { display: inline-block; vertical-align: middle; }
.dodaynew .newto_back { position: absolute; top: 0; left: 0; width: 260px; height: 260px; background: rgba(0, 0, 0, 0.2); }
.dodaynew .newto_backp { font-size: 16px; color: #fff; text-align: left; text-shadow: 0 0 6px rgba(0, 0, 0, 0.3); }
.dodaynew .newto_backspan { text-align: left; text-shadow: 0 0 6px rgba(0, 0, 0, 0.3); font-size: 20px; font-weight: bold; color: #fff; }
.dodaynew .newto_backspan i { font-style: normal; }
.dodaynew .newto_bot { text-indent: 13px; padding-top: 192px; }
.dodaynew .newto_bottom { border: 1px solid #e9e9e9; background: #fff; padding: 8px; }
.dodaynew .newto_bottom a { display: block; width: 64px; height: 64px; float: left; padding-right: 10px; }
.dodaynew .newto_bottom img { width: 100%; height: 100%; }
.dodaynew .newto_onep { display: block; font-size: 16px; }
.dodaynew .newto_tit { color: #000; font-size: 16px; margin: 7px 0 7px 0; }
.dodaynew .newto_price { color: #ff1e32; font-size: 20px; }
.dodaynew .newto_pricet { color: #999; font-size: 14px; }
.dodaynew .newto_lastph { color: #0a0a0a; font-size: 26px; display: block; width: 260px; height: 260px; background: url(http://haitao.nos.netease.com/1cf4rc18p21_260_260.jpg?imageView&thumbnail=260x260&quality=90) no-repeat; }
.dodaynew .lastph_text { color: #333; font-size: 16px; font-weight: bold; }

.hotbrand { height: 429px; }
.hotbrand .hotbrand_li { float: left; width: 219px; margin-bottom: -1px; padding-bottom: 2px; border-top: 1px solid #e9e9e9; border-right: 1px solid #e9e9e9; border-bottom: 1px solid #e9e9e9; }
.hotbrand .hotleft { display: block; width: 100%; height: 219px; }
.hotbrand .hotleft img { width: 100%; height: 100%; }
.hotbrand .hotleft_bottom { height: 136px; background-color: #151515; }
.hotbrand .hotleft_text { padding-top: 41px; padding-bottom: 4px; font-size: 20px; }
.hotbrand .hotleft_center { font-size: 14px; }
.hotbrand .hotleft_center, .hotbrand .hotleft_text { color: #fff; text-align: center; font-weight: bold; }
.hotbrand .info { height: 176px; }
.hotbrand .info img { margin: 0 auto; padding-top: 13px; }
.hotbrand .info_desc { margin-top: 10px; font-size: 14px; font-style: bold; text-align: center; }

.mombaby { height: 853px; background: #0ff; display: none; }

.hotbuy_one { display: none; }

.beautify { height: 853px; background: #09f; display: none; }

.hotbuy_twe { display: none; }

.shoesbag { height: 853px; background: #0ff; display: none; }

.hotbuy_three { display: none; }

.household { height: 853px; background: #09f; display: none; }

.hotbuy_four { display: none; }

.nutrition { height: 853px; background: #0ff; display: none; }

.hotbuy_five { display: none; }

.elec { height: 853px; background: #09f; display: none; }

.hotbuy_six { display: none; }

.exercise { height: 853px; background: #0ff; display: none; }

.hotbuy_seven { display: none; }

.guesslike { padding-bottom: 80px; }

.newRecomItemWrap { margin: 0 10px; width: 260px; margin: 0; border: 0; float: left; margin-left: 10px; margin-bottom: 15px; border: 1px solid #eaeaea; }
.newRecomItemWrap .m-reclst { border: 0; background: transparent; }
.newRecomItemWrap .newRecomWrap > div { width: 1120px; margin: 0 -10px; }
.newRecomItemWrap .newRecomWrap > div { margin-left: 0; }
.newRecomItemWrap .newRecomWrap > div { margin-left: -15px; }
.newRecomItemWrap .m-reclst { border: 1px solid #eaeaea; background: #fff; }
.newRecomItemWrap .itemImg { width: 180px; height: 180px; border: 1px solid #e9e9e9; background-color: #fff; padding: 39px; display: block; }
.newRecomItemWrap .itemImg img { width: 180px; height: 180px; }
.newRecomItemWrap .wrap { white-space: normal; word-wrap: break-word; }
.newRecomItemWrap .itemTitle { white-space: normal; word-wrap: break-word; height: 44px; margin: 7px 0 14px 0; padding: 0 30px 0 0; box-sizing: border-box; font-weight: bold; overflow: hidden; text-overflow: ellipsis; }
.newRecomItemWrap .itemTitle a { line-height: 24px; font-size: 16px; font-weight: 700; color: #000; }
.newRecomItemWrap .itemInfo { padding: 0 15px 0 0; }
.newRecomItemWrap .itemInfo .price { vertical-align: middle; color: #ff1e32; float: left; font-size: 20px; }
.newRecomItemWrap .itemInfo .marprice { padding-left: 5px; color: #999; font-size: 12px; font-weight: normal; }
.newRecomItemWrap .itemInfo .comment { float: right; display: block; height: 24px; line-height: 36px; color: #999; font-size: 12px; }

/*# sourceMappingURL=index.css.map */
